@model GameCatalog.ViewModels.GameDetailViewModel

<h1>@Model.Name</h1>

<img src="@Model.Cover" /><br /><br />

<table class="table">
    <tr>
        <th>Developer</th>
        <td>@Model.DeveloperName</td>
    </tr>
    <tr>
        <th>Genres</th>
        <td>@Model.GenreText</td>
    </tr>
    <tr>
        <th>Release Date</th>
        @if (Model.ReleaseDate != "1/1/0001")
        {
            <td>@Model.ReleaseDate</td>
        }
        else
        {
            <td>N/A</td>
        }

    </tr>
</table>

<p>@Model.Description</p>

<a asp-controller="Genre" asp-action="AddGame" asp-route-id="@Model.GameId">Add additional genres</a>